source https://api.nuget.org/v3/index.json

storage: none
framework: net7.0, net6.0


nuget FSharp.Core
nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk 
nuget xunit 
nuget xunit.runner.visualstudio 